# The variable Location
Find the location of the variable by the keyword 'id'

In [1]:
x = 3
print(id(3))

140721122288080

In [2]:
a = 5
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [3]:
a = 2.5
print(a, "is a type of", type(a))

2.5 is a type of <class 'float'>

In [6]:
a = 1 + 2j
print(a, "is a complex number?")
print(isinstance(1+2j, complex))
print(a, "is a type of", type(a))

(1+2j) is a complex number?
True
(1+2j) is a type of <class 'complex'>

In [9]:
s = """This is a line
that you can use nextline without worries"""
print(s)
print("s is a type of", type(s))

This is a line
that you can use nextline without worries
s is a type of <class 'str'>

# Python List
List is an ordered ssequence of items

In [12]:
a = [10, 20.5, 'Hello']
print(a)

[10, 20.5, 'Hello']

In [3]:
s = {10,20,30,40,50}
print(s)

{40, 10, 50, 20, 30}

In [5]:
s.issubset({10})

False

In [6]:
print(type(s))

<class 'set'>

In [7]:
dic = { 'age' : 39, 'name':'Daniel yoo'}

In [9]:
print(dic['age'])
print(dic['name'])

39
Daniel yoo

# Conversion between Datatypes
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [10]:
float(5)

5.0

In [11]:
int(100.5)

100

In [12]:
str(20)

'20'

In [13]:
str(123214.21)

'123214.21'

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

In [15]:
user = 'dan'
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + "lines of code !")

Congratulations, dan! You just wrote 100lines of code !

we can convert one sequence to other

In [16]:
a = [1,2,3]

print(type(a))

s = set(a)

print(type(s))

<class 'list'>
<class 'set'>

In [17]:
list("Hello")

['H', 'e', 'l', 'l', 'o']