# Tuples
 - Similar to the list
 - Cannot change its elements once assigned

## Tuple Creating

In [3]:
#empty tuple
t = ()

#tuple with integers
t = (1, 2, 3)
print(t)

# tuples with mixed data types
t = (1, 'raju', 29, 'abc')
print(t)

#nested tuple
t = (1, (2,3,4), [1, 'raju', 29, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 29, 'abc')
(1, (2, 3, 4), [1, 'raju', 29, 'abc'])

In [4]:
#only paranthesis is not enough
t = ('danny')
type(t)

str

In [5]:
# Need a comma at the end
t = ('danny',)
type(t)

tuple

In [6]:
# paranthesis is optional
t = "danny","yoo"
print(type(t))

print(t)

<class 'tuple'>
('danny', 'yoo')

In [7]:
t = ('item0','item1','item2','item3')
print(t[2])

item2

In [8]:
# negative index
print(t[-1])

item3

In [14]:
# working with nested tuple
t = ('abc',('d','e','f'))
print(t)
print('t[1] = ', t[1])
print('t[1][2] = ',t[1][2])

('abc', ('d', 'e', 'f'))
t[1] =  ('d', 'e', 'f')
t[1][2] =  f

In [15]:
t = (1,2,3,4,5)
print(t[1:4])

(2, 3, 4)

In [16]:
print(t[:-2])

(1, 2, 3)

## Changing a Tuple

unlike lists, tuples are immutable

In [17]:
t = 1, 2, 3, 4, 5, 6, 7
t[2] = 121

TypeError: 'tuple' object does not support item assignment

In [18]:
# repeat the elements in a tuple for a given number of times using the *
t = (('danny',) * 4)
print(t)

('danny', 'danny', 'danny', 'danny')

## Tuple Deletion

In [20]:
t = (1,2,3,4,5) # tuples are immutable...
del t

## Tuple Count

In [21]:
t = (1,2,3,1,2,1,1,1,1)
t.count(1)

6

## Tuple Index

In [22]:
t = (1,2,3,4,5,6,1,2,3,4,5,6)
t.index(4) # returns the first element that meets the number

3

## Tuple Membership

In [23]:
t = (1,2,3,4)
print(1 in t)

True

# Built in Functions

## Tuple Length

In [24]:
t = (1,2,3,4)
print(len(t))

4

## Tuple Sort

In [26]:
t = (4,2,1,3,-3)
new_t = sorted(t)
print('new tuples',new_t)
print('original', t)

new tuples [-3, 1, 2, 3, 4]
original (4, 2, 1, 3, -3)

## Getting Min and Max

In [27]:
print(min(t))

-3

In [28]:
print(max(t))

4